<style>
.d-flex .form-control {
  flex: 1; 
  margin-right: 10px;
}

.d-flex .form-control:last-child {
  margin-right: 0;
}

</style>
<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">  
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6"><br>
            <div class="card">
              <div class="card-body">
                <h1>sign up</h1>
                <%= render '/shared/errors', obj: @user %>
                <%= form_with model: @user do |f| %>
                  <p>
                    <%= f.label :name %><br>
                    <%= f.text_field :name, class: "form-control", placeholder: "Enter a name" %>
                  </p>
                  <p>
                    <%= f.label :bio %><br>
                    <%= f.text_area :bio, class: "form-control", placeholder: "Enter a bio" %>
                  </p>
                  <p>
                    <%= f.label :email %><br>
                    <%= f.email_field :email, class: "form-control", placeholder: "Enter an email address" %>
                  </p>
                  <p>
                  <%= f.label :date_of_birth %><br>
                    <div class="d-flex justify-content-between">
                      <%= f.select :date_of_birth_year, options_for_select((Date.today.year - 100..Date.today.year).to_a), {}, { class: "form-control select-with-arrow" } %>
                      <%= f.select :date_of_birth_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, index| [name, index + 1] }), {}, { class: "form-control" } %>
                      <%= f.select :date_of_birth_day, options_for_select((1..31).to_a), {}, { class: "form-control" } %>
                    </div>
                  </p>
                  <p>
                    <%= f.label :password %><br>
                    <%= f.password_field :password, class: "form-control", placeholder: "Enter a password" %>
                  </p>
                  <p>
                    <%= f.label :password_confirmation %><br>
                    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
                  </p>
                  <div>
                    <%= f.submit "Create Profile", class: "btn btn-outline-success" %>
                  </div>
                <% end %>
              </div>
            </div> 
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
